name: Lint Python code

on:
  pull_request:
  push:
    paths:
      - '**.py'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.13"]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install apt dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libsystemd-dev
    - name: Install pip dependencies
      run: |
        python -m pip install --upgrade pip
        pip install click discord.py python-dotenv
        pip install prometheus_client sentry_sdk python-logging-loki
        pip install requests aiohttp systemd-python
        pip install pymongo tenacity
    - name: Install linters
      run: |
        pip install flake8 mypy pylint
    - name: Update submodules
      run: |
        git submodule update --init
    - name: Run flake8
      run: |
        flake8 $(git ls-files '*.py')
    - name: Run mypy
      run: |
        mypy $(git ls-files '*.py')
    - name: Run pylint
      run: |
        pylint $(git ls-files '*.py')
